

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.main-body {

  
	background-color:#FF9933;
  margin-top: -20px;
  margin-bottom: -20px;
}


.container{


  min-height: 980px ;

  overflow: hidden;
  background-color: #FFFFFF;


}


.left_content{

  width: 65%;
  min-height: 900px ;
  float: left;

  margin-top: 20px;
  margin-left: 30px;
  overflow: hidden;




}



.right_content{

  min-height: 900px ;
  width: 25%;
  float: right;

  margin-top: 20px;
  margin-right: 20px;
  overflow: hidden;


}

.photo-background {

  width: 100%;
  height:230px;
  margin-top: -10px;


}


.photo {

  height: 190px;
  width: 190px;
  margin-left: 30px;
  border: 1px solid silver;
  margin-top: 15px;


  overflow: hidden;



}



.photo img{

  height:190px;
  width:190px;
  margin-top: 20px;
  overflow:hidden;

}

.skill {


  border-radius: 5px;
  width: 235px;
  height: 40px;
  text-align: center;
  margin-top:  10px;
	margin-right: 20px;


  padding-top: 5px;
  padding-bottom: 5px;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 20px;
  background: #000000 ;
	color: #00FF66;

}

.skill span:hover {

	color: white;
  cursor: pointer;
}


.footer{



  height: 60px;
  background-color: #282C34;
	color: white;
	text-align: center;
	padding-top: 20px;
	font-family: sans-serif;
	font-size: 15px;

}

.name{

	font-family: sans-serif;
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
}

.designation{

	font-size: 12px;
	margin-top: -10px;
	color: coral;
	text-align: center;
}
.profile-section {

	width: 95%;
	min-height: 150px;

	text-align: justify;


}

.profile{

	border: 1px solid silver;
	height:  30px;
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
	font-family: sans-serif;
	background: #000000 ;
	color: #00FF66;
	border-radius:  5px;
	padding-top: 3px;
	margin-top: 20px;
}

.eduacation {

	width: 100%;
	min-height: 150px;
	border: 3px solid silver;
	text-align: justify;
	font-family: sans-serif;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	margin-top: 20px;


}


.eduacation b:hover {

	color:red;
}

.field-interest {

	width: 100%;
	min-height: 150px;
	border: 3px solid silver;
	text-align: justify;
	font-family: sans-serif;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	margin-top: 20px;
	font-size: 15px;
}

.edu-title{

	font-size: 18px;
	font-weight: bolder;

	width: 100px;
	padding-left: 5px;
	background: #000000 ;
	color: #00FF66;
	border-radius: 5px;
}

.fild-interest {

	font-size: 18px;
	font-weight: bolder;

	width: 160px;
	padding-left: 5px;
	background: #000000 ;
	color: #00FF66;
	border-radius: 5px;

}
