


h2,h3,h4,ul,img,a,p,div,body{

  margin  : 0px;
  padding : 0px;


}

.header-section {

  background-color:#2A6698;
  color: white;
  margin-top: -20px;


}

.header-section h1 {

  padding-bottom: 30px;
  padding-top:30px;
  padding-left: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  font-family:sans-serif;


}





.footer{

height             : 50px;
background-color   : #474747;
width              : 100%;
margin-top         : 20px;


}


.footer p{

color             : white;
text-align        : center;
font-family       : verdana;
font-size         : 16px;
padding           : 15px;

}



.content{

width      : 100%;
overflow   : hidden;
margin-top: -10px;
margin-bottom: -20px;


}


.footer_list{

min-height  : 50px;
width       : 100%;

}


.dashboard_content_left{

width            : 20%;
min-height       : 500px;
float            : left;
border           : 1px solid silver;
margin-top       : 10px;
margin-bottom    : 10px;
background       : white;
padding-left: 20px;
padding-top: 20px;
font-family: sans-serif;
font-size: 18px;


}

.dashboard_content_left ul li{

  list-style-type: none;
}

.dashboard_content_left ul li a:hover{

  font-size: 30px;
}
.dashboard_content_right{

width           : 78%;
min-height      : 500px;
float           : right;
margin-top      : 10px;
margin-bottom   : 10px;
background      : white;
border: 1px solid silver;

}



.data_display tr td{

border-bottom : 1px solid silver;

}


.register input[type='text'],input[type='password'],select,textarea{

width          : 300px;
height         : 35px;
border         : 1px solid silver;
border-radius  : 5px;
padding-left   : 5px;
color          : gray;
font-family    : verdana;


}


 .register p{

 color         :black;
 font-size     :18px;
 font-weight   :bolder;
 font-family   :verdana;
 padding       :10px 5px;

 }


 .register input[type='submit']{

 padding          :10px;
 border           :none;
 border-radius    :3px;
 color            :white;
 font-family      :verdana;
 font-weight      :normal;
 background-color :#3665B3;
 cursor           :pointer;

 }



 .error_message{

 color         :red;
 font-family   :verdana;
 font-size     :14px;
 margin-left   :10px;

 }



 /*

the section below is for single_post_display.php
 */




 .left_content{

   width             : 50%;
   min-height        : 900px ;
   float             : left;
   border            : 1px solid silver;
   margin-left       : -15px;




 }


 .title{

   border          : 1 px solid silver;
   color           : #DBA038;
   font-family     : verdana;
   font-weight     : bolder;
   font-size       : 30px;
   cursor          : pointer;
   border-bottom   : 3px solid silver;
   margin-left     : 10px;
   margin-right    : 10px;


 }


 .title a {

       color: #DBA038;
 }


 .title a:hover{

     color             : red;
     text-decoration   : none;
 }




 .data_time{

   margin-left    : 10px;
   overflow       : hidden;
   font-family    : sans-serif;
   font-weight    : bolder;
   margin-top     : 5px;
 }










 .data_time{

   margin-left   : 10px;
   overflow      : hidden;
   font-family   : sans-serif;
   font-weight   : bolder;
   margin-top    : 5px;
 }



 .description{


   margin-left    : 10px;
   margin-right   : 10px;

   font-family    : sans-serif;
   font-size      : 18px;
   text-align     : justify;
   min-height     : 100px;
 }
