

.main-body{


  margin-top: -20px;
  background: #FF9933;

}
.container{

  min-height: 980px ;
  overflow: hidden;
  background-color:#FF9933;
  padding-left: 50px;

}


.left_content{

  width: 90%;
  min-height: 900px ;
  float: left;
  margin-left:75px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;






}

.post{

  
  margin-top: 30px;
  border-radius: 5px;
  background: white;
}


.right_content{

  min-height: 900px ;
  float: right;
  margin-right: -15px;
  overflow: hidden;

}



.title{

  border: 1 px solid silver;
  color: #DBA038;
  font-family: verdana;
  font-weight: bolder;
  font-size: 30px;
  cursor: pointer;
  border-bottom: 3px solid silver;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20px;


}

.title a {

      color: #DBA038;
}


.title a:hover{

    color: red;
    text-decoration: none;
}

.date_time:hover{

  color: red;
  cursor: pointer;

}

.date_time{

  font-family: sans-serif;


  font-size: 15px;
  color: inherit;
}

.date_time:hover{

  color: red;
  cursor: pointer;

}

.author:hover{

  color: red;
  cursor: pointer;
}

.data_time{

  margin-left: 10px;
  overflow: hidden;
  font-family: sans-serif;
  font-weight: bolder;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 50px;
}



.description{

  margin-left: 10px;
  margin-right: 10px;
  font-family: sans-serif;
  font-size: 18px;
  height: 100px;
  overflow: hidden;
  text-align: justify;
}



.readore{

  height: 50px;
  text-align: center;
  margin-top: 60px;

  font-family: sans-serif;
  font-size: 18px;
  font-weight: bolder;
  overflow: hidden;
  float: right;

}


.readore button a {
    text-decoration: none ;

    color: white;
    cursor:pointer;
 }

.readore button a:hover{

    color:#00CC33;

}
.readore button {

  margin-right: 10px;
  border-radius: 5px;
  background: black;
  border: none;


}



.footer{

  height: 60px;
  background-color: #282C34;
  color: white;
  text-align: center;
  padding-top: 20px;
}
