

.container{

  min-height: 980px ;

  overflow: hidden;
  background-color: #FFFFFF;

}




.left_content{

  width: 80%;
  min-height: 900px ;
  float: left;
  border: 1px solid silver;
  margin-left: -15px;
  overflow: hidden;
  background-color: #F4EEE6;


}





.right_content{

 min-height: 900px ;
  width: 20%;
  float: right;
  border: 3px solid silver;
  margin-right: -15px;

  overflow: hidden;

}



.title{

  border: 1 px solid silver;
  color: #DBA038;
  font-family: verdana;
  font-weight: bolder;
  font-size: 30px;
  cursor: pointer;
  border-bottom: 3px solid silver;
  margin-left: 10px;
  margin-right: 10px;


}

.title a {

      color: #DBA038;
}


.title a:hover{

    color: red;
    text-decoration: none;
}




.data_time{

  margin-left: 10px;
  overflow: hidden;
  font-family: sans-serif;
  font-weight: bolder;
  margin-top: 5px;
}



.description{

  margin-left: 10px;
  margin-right: 10px;
  font-family: sans-serif;
  font-size: 18px;  
  overflow: hidden;
  text-align: justify;
}



.readore{

  height: 50px;
  text-align: center;
  margin-top: 40px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bolder;
  overflow: hidden;
  float: right;

}


.readore button a {
    text-decoration: none ;
    color:#286090;
    cursor:pointer;
 }

.readore button {

  margin-right: 10px;


}

.footer{



  height: 60px;
  background-color: #282C34;
  border-top: 10px solid white;
}
