

.main-container-login{

  border: 1px solid silver;
  margin-top: -20px;
  min-height: 600px;
  width: 100%;
  padding-left: 300px;
  padding-right: 300px;
  background:#FF9933;

}

.container-login{

  height: 400px;
  border-radius: 10px;
  margin-top: 100px;
  padding-left: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  background: white;

}

.container-login h1{

  padding-left: 100px;
  padding-bottom: 20px;
  font-family: sans-serif;
  font-weight: normal;
  color: #339933;
}

.container-login p{

  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.email{

  height: 30px;
  border: 1px solid silver;
  border-radius: 5px;
}


.password{

  height: 30px;
  border: 1px solid silver;
  border-radius: 5px;

}

.button{

  height: 30px;
  width:120px;
  font-family:sans-serif;
  font-size: 15px;
  border: 0px;
  border-radius: 5px;
  background-color: #286090;
  color: white;
  cursor:pointer;
}


.footer-login{

  height: 60px;
  background-color: #282C34;
  color: white;
  text-align: center;
  padding-top: 15px;
}

.error_message{

  font-family: sans-serif;
  color: red;
  font-size: 18px;

}
