

.readmore {
  color: blue;
  cursor: pointer;
}


 h1{
  font-family: verdana;
  font-size: 40px;
  cursor: pointer;
}


 h1:hover{

  color:red;

}


.message{

  font-family : verdana;
  font-size   : 16px;
  height      : 60px;
  overflow    : hidden;

}
