

.main-container-registration{

  background: #FF9933;
  border: 1px solid silver;
  margin-top: -20px;
  margin-bottom: -22px;
}

.container-registration{

    background: white;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    padding-left: 160px;
    padding-top: 50px;



}

.container-registration form h1{

  font-family:sans-serif;
  font-size:30px;
  padding-bottom: 25px;
  padding-left: 20px;
  color: #339933;
  font-weight:normal;

}

.container-registration form p{

  color: red;
}
.fullName{

  height: 30px;
  border: 1px solid silver;
  border-radius: 5px;
  padding-left: 10px;


}



.email{

  height: 30px;
  border: 1px solid silver;
  border-radius: 5px;
  padding-left: 10px;

}

.password{

  height: 30px;
  border: 1px solid silver;
  border-radius: 5px;
  padding-left: 10px;

}


.rePassword{

  height: 30;
  border: 1px solid silver;
  border-radius: 5px;
  padding-left: 10px;


}

.address {

  line-height: 100px;
  border: 1px solid silver;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: -50px;




}

.contact{

  height: 30;
  border: 1px solid silver;
  border-radius: 5px;
  padding-left: 10px;

}

.city{

  height: 30;
  border: 1px solid silver;
  border-radius: 5px;
  padding-left: 10px;

}

.country{

  height: 30;
  border: 1px solid silver;
  border-radius: 5px;
  padding-left: 10px;

}


.registerBtn{

  height: 30px;
  width: 100px;
  font-family: sans-serif;
  border:0px;
  border-radius: 5px;
  background-color: #286090;
  color: white;
  cursor:pointer;
}

.registerBtn:hover{

  background: black;
  color: #339933;



}

.error_message{

  font-family: sans-serif;
  color: red;
  font-size: 18px;
  font-weight: normal;

}


.sucess{

  font-family: verdana;
  color: green;
  font-size: 18px;

}

.countryList{

  height: 30;
  border: 1px solid silver;
  border-radius: 5px;
  width: 200px;
  padding-left: 10px;
  font-family: sans-serif;
  color: inherit;
  cursor: pointer;

}

.cityList{

  height: 30;
  border: 1px solid silver;
  border-radius: 5px;
  width: 200px;
  padding-left: 10px;
  font-family: sans-serif;
  color: inherit;
  cursor: pointer;
}

.footer-registration{

  height: 60px;
  background-color: #282C34;
  color: white;
  text-align: center;
  padding-top: 15px;
}

.footer-registration footer:hover{

    color: #00FF33;
    font-size: 15px;
    cursor: pointer;
}
