
.admin-city-display{

  padding-left: 150px;
  padding-bottom: 30px;

}

.admin-city-display h2{

  padding-left: 150px;
  padding-top: 40px;
  padding-bottom: 30px;
  color: green;
}




table {

  border: 1px solid black;;
  cellpadding:5px;
  cellspacing: 0px;
  margin-left: 100px;
  margin-top: 30px;
}

table tr,td,th{

  border: 1px solid black;;
  text-align: center;
  padding-top: 10px;
  padding-bottom:10px;
  padding-left: 10px;
  padding-right:10px;


}

table tr,td{

  font-size: 15px;
  font-family: sans-serif;

}

.heading_id {

  font-family: sans-serif;
  font-size: 18px;
  height: 25px;
  width :80px;
  font-weight: bolder;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;


}



.button_delete {

  width             : 80px;
  height            : 30px;
  border           : none;
  border-radius     : 5px;
  color             : white;
  background-color  : #3665B3;
  cursor            : pointer;
  font-weight       : normal;
}


.button_update {

  width             : 80px;
  height            : 30px;
  border           : none;
  border-radius     : 5px;
  color             : white;
  background-color  :#4CAF50;
  cursor            : pointer;
  font-weight       : normal;

}


.city-display-pagination{

  padding-left: 300px;
}
