


.city_insert_form{

  margin-left   : 30px;
  margin-top    : 50px;
  padding-left: 50px;
}

.city_insert_form p{

  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 50px;
  color: green;
}

input[type='text'] {


  width         : 300px;
  height        : 35px;
  border        :1px solid silver;
  border-radius :5px;
  color         :gray;
  padding-left  :10px;

}

/*
    The section given below is for send button of
    city_insert.php page
*/

 input[type='submit'] {

  width            :100px;
  height           : 30px;
   border          :none;
  border-radius    : 5px;
  color            :white;
  background-color :#3665B3;
  cursor           :pointer;
  font-weight      :normal;

}



label {

  font-size     : 18px;
  font-family   : sans-serif;
  color: green;


}




.country_name {

  color          :inherit;
  padding-left   :10px;
  font-family    :sans-serif;
}


.sucess {

  font-size   : 18px;
  font-family : verdana;
  font-weight : bolder;
  color       : green;
  margin-top  : 50px;
  padding-left:  30px;
}


.error{

  font-size      : 18px;
  font-family    : sans-serif;
  font-weight    : bolder;
  color          : red;
  padding-left   : 10px;
}
