



.country_insert{

  margin-left  : 50px;
  margin-top   : 50px;
  padding-left: 50px;

}

.country_insert p{

  font-family: sans-serif;
  font-size: 30px;
  padding-bottom: 50px;
  color:green;
}
.country_insert span{

  font-size   : 18px;
  font-family : sans-serif;
  color: green;


}


input[type='text'] {


  width         : 300px;
  height        : 35px;
  border        : 1px solid silver;
  border-radius : 5px;
  color         : gray;
  padding-left  : 10px;

}


.country_insert input[type='submit'] {

  width             : 100px;
  height            : 30px;
   border           : none;
  border-radius     : 5px;
  color             : white;
  background-color  : #3665B3;
  cursor            : pointer;
  font-weight       : normal;

}



.sucess {

  font-size   : 18px;
  font-family : verdana;
  font-weight : bolder;
  color       : green;
  padding-top : 50px;
  margin-left : 30px;
}


.error {

  font-size     : 18px;
  font-family   : verdana;
  font-weight   : bolder;
  color         : red;
  padding-left  : 10px;

}
