

.sucess {

  font-size   : 18px;
  font-family : verdana;
  font-weight : bolder;
  color       : green;
  padding-left : 100px;
  margin-top : 100px;
}


.error {

  font-size   : 18px;
  font-family : verdana;
  font-weight : bolder;
  color       : red;
  padding-left : 100px;
  margin-top : 100px;

}
