.country-display{

  padding-left: 100px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.country-display h1{

  padding-left: 140px;
  padding-bottom: 10px;
  color: #3CB371;
}

table {

  border: 1px solid black;;
  cellpadding:5px;
  cellspacing: 0px;
  margin-left: 100px;
  margin-top: 40px;
}

table tr,td,th{

  border: 1px solid black;;
  text-align: center;
  padding-top: 10px;
  padding-bottom:10px;
  padding-left: 10px;
  padding-right:10px;


}

table tr,td{

  font-size: 15px;
  font-family: sans-serif;

}

.heading_id {

  font-family: sans-serif;
  font-size: 18px;
  height: 25px;
  width :80px;
  font-weight: bolder;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;


}



.heading_delete {

  width: 100px;
  padding-top: 10px;
  padding-bottom:10px;

}


.button_delete {

  width             : 80px;
  height            : 30px;
  border           : none;
  border-radius     : 5px;
  color             : white;
  background-color  : #3665B3;
  cursor            : pointer;
  font-weight       : normal;
}


.button_update {

  width             : 80px;
  height            : 30px;
  border           : none;
  border-radius     : 5px;
  color             : white;
  background-color  :#4CAF50;
  cursor            : pointer;
  font-weight       : normal;

}


span {

  font-family: sans-serif;
  font-weight: bolder;
  font-size: 18px;
}


.country_update_form {

  margin-left: 80px;
  margin-top: 80px;
}


.country_update_form input[type='text'] {

  width          : 300px;
  height         : 35px;
  border         : 1px solid silver;
  border-radius  : 5px;
  padding-left   : 5px;
  color          : inherit;
  font-family    : sans-serif;

}


.country_update_form  input[type='submit']{

  width             : 80px;
  height            : 30px;
  border           : none;
  border-radius     : 5px;
  color             : white;
  background-color  : #3665B3;
  cursor            : pointer;
  font-weight       : normal;


}

.country-display-pagination{

  padding-left: 200px;


}
