

h2 {

  text-align: center;
  padding-top: 40px;
  font-family: sans-serif;
    color: #339933;
  font-size: 35px;
}



table {


  cellpadding:5px;
  cellspacing: 0px;
  margin-left: 15px;
  margin-top: 30px;
  margin-right: 10px;
}

table tr,td,th{



  padding-top: 10px;
  padding-bottom:10px;
  padding-left: 10px;
  padding-right:10px;


}

table tr,td{

  font-size: 15px;
  font-family: sans-serif;

}

.heading_id {

  font-family: sans-serif;
  font-size: 18px;
  height: 25px;
  width :80px;
  font-weight: bolder;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;


}

.heading_city{

  text-align: left;
}


.heading_country{
  text-align: left;
}

  .heading_delete{}
  .heading_update{}


.button_delete {

  width             : 80px;
  height            : 30px;
  border           : none;
  border-radius     : 5px;
  color             : white;
  background-color  : #3665B3;
  cursor            : pointer;
  font-weight       : normal;
}


.button_update {

  width             : 80px;
  height            : 30px;
  border           : none;
  border-radius     : 5px;
  color             : white;
  background-color  :#4CAF50;
  cursor            : pointer;
  font-weight       : normal;

}


.serial {

  text-align: center;
}


.post_title{

  padding-top: 5px;
  padding-bottom:5px;
  padding-left: 5px;
  padding-right:5px;

}



.post_description{

  padding-top: 5px;
  padding-bottom:5px;
  padding-left: 5px;
  padding-right:5px;

}


.post-display-pagenation{

  text-align: center;
}
