









.container{

  min-height        : 500px ;
  background-color  : #FFFFFF;
  margin-top: 20px;

}




.left_content{

  width               : 100%;
  padding-left        : 20px;
  padding-right       : 120px;
  padding-top         : 40px;
  min-height          : 900px ;
  float               : left;
  margin-left         : -15px;
  overflow            : hidden;




}








.title{

  border             : 1 px solid silver;
  color              : #DBA038;
  font-family        : sans-serif;
  font-weight        : bolder;
  font-size          : 30px;
  cursor             : pointer;
  border-bottom      : 3px solid silver;
  margin-left        : 10px;
  margin-right       : 10px;


}



.title a {

      color : #DBA038;
}




.title a:hover{

    color            : red;

}




.data_time{

  margin-left     : 10px;
  overflow        : hidden;
  font-family     : sans-serif;
  font-weight     : bolder;
  margin-top      : 5px;
}



.description{

  margin-left     : 10px;
  margin-right    : 10px;
  font-family     : sans-serif;
  font-size       : 18px;
  overflow        : hidden;
  text-align      : justify;
}



.readore{

  height          : 50px;
  text-align      : center;
  margin-top      : 40px;
  font-family     : sans-serif;
  font-size       : 18px;
  font-weight     : bolder;
  overflow        : hidden;
  float           : right;

}




.readore button a {

    text-decoration     : none ;
    color               :white;
    cursor              :pointer;

 }



.readore button {

  margin-right        : 10px;


}


.footer{

  height             : 60px;
  background-color   : #282C34;


}
