

.container{

  width: 950px;
  margin: 0px auto;
  margin-top: 100px;
  border-bottom:  3px solid silver;



}

.container h1{
  font-family: verdana;
  font-size: 40px;
  cursor: pointer;
}

.container h1:hover{

  color:red;

}

.container p{
  font-family: verdana;
  font-size: 16px;
}
