

.container{


    width: 960px;
    margin: 0px auto;
    background: white;




}

h2 {

  padding-left: 130px;
  font-weight: bolder;
  font-size: 35px;
  font-family: sans-serif;
  color: green;
}



p {

  font-size: 20px;
  padding-top: 30px;
  padding-left: 45px;
  font-family: sans-serif;
  font-weight: bolder;
  color: green;
}



.post{


  width: 600px;
  min-height: 200px;
  border: 1px solid silver;
  margin-left: 50px;
  border-radius: 5px;
  font-weight: normal;
  font-size: 15px;
  font-family: sans-serif;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: justify;
}


.title{

  width: 600px;
  min-height: 80px;
  border: 1px solid silver;
  margin-left: 50px;
  border-radius: 5px;
  font-weight: normal;
  font-size: 15px;
  font-family: sans-serif;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: justify;
  color:inherit;

}


.error {

  padding-left: 50px;
  color:red;


}



.btn-post{

  width: 80px;
  height: 30px;
  font-family: sans-serif;
  font-size: 20px;
  background-color:green;
  color: white;
  border: 1px solid silver;
  border-radius: 3px;
  margin-left: 50px;



}
