
h1 {

  margin-left: 4%;
  padding-top: 50px;
}
.container{

  margin-left: 5%;

}
.post_title {

  width:70%;
  min-height: 60px;
  padding-left:10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: sans-serif;

}


.post_description {

  width: 70%;
  min-height: 250px;
  padding-left:10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: sans-serif;

}

p {

  font-size: 18px;
  font-family: sans-serif;
  font-weight: bolder;
}

.btn_post {

  width             : 80px;
  height            : 30px;
  border           : none;
  border-radius     : 5px;
  color             : white;
  background-color  :#4CAF50;
  cursor            : pointer;
  font-weight       : normal;

}


.error{

  font-size      : 18px;
  font-family    : sans-serif;
  font-weight    : bolder;
  color          : red;
  padding-left   : 10px;


}
