

.container{

  min-height: 980px ;
  /*
  background-color: #FFFFFF;*/

}




.left_content{

  width: 100%;
  min-height: 900px ;
  float: left;
  padding-right: 120px;
  padding-left : 20px;
  padding-top: 50px;
  /*
  border: 1px solid silver;

  */



  margin-left: -15px;
  /*
  background-color: #F4EEE6;
  */



}


.title{

  border: 1 px solid silver;
  color: #DBA038;
  font-family: verdana;
  font-weight: bolder;
  font-size: 30px;
  cursor: pointer;
  border-bottom: 3px solid silver;
  margin-left: 10px;
  margin-right: 10px;


}




.title a:hover{

    color: red;
    text-decoration: none;
}




.data_time{

  margin-left: 10px;
  overflow: hidden;
  font-family: sans-serif;
  font-weight: bolder;
  margin-top: 5px;
}










.data_time{

  margin-left: 10px;
  overflow: hidden;
  font-family: sans-serif;
  font-weight: bolder;
  margin-top: 5px;
}



.description{

  margin-left: 10px;
  margin-right: 10px;
  font-family: sans-serif;
  font-size: 18px;
  min-height: 600px;
  text-align: justify;
}
